body {
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
 background-color: #034411;
}

header {
 background-color: #09a34f; /* Verde */
 padding: 20px;
 text-align: center;
}

nav ul {
 list-style: none;
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: absolute;
}

nav ul li {
 margin-right: 20px;
}

.hero {
 background-image: url('imagem-de-fundo.jpg');
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 color: rgb(226, 61, 61);
}

.sobre {
 padding: 20px;
}

.licenciamento {
 background-color: #34C759; /* Verde */
 padding: 20px;
 text-align: center;
}

.depoimentos {
 padding: 20px;
}

.contato {
 padding: 20px;
}

footer {
 background-color: #34C759; /* Verde */
 padding: 10px;
 text-align: center;
 clear: both;
}
